<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <style>
      #wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .형우 {
        display: none;
      }
      label {
        display: block;
        padding: 1rem 2rem;
        text-align: center;
        background: #74b9ff;
        cursor: pointer;
        border-radius: 0.5rem;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: 0.3s;
      }
      label:hover {
        transform: scale(1.1);
      }
      .name {
      }
    </style>
  </head>
  <body>
    <div id="wrap">
      <form action="/upload" enctype="multipart/form-data" method="post">
        <input id="file" name="file" type="file" />
        <label class="형우" for="file">파일 선택</label>
        <input class="name" type="text" name="name" />
        <button type="submit">submit</button>
      </form>
    </div>
    <script>
      const form = document.querySelector('form');
      const img = document.querySelector('input');
      img.addEventListener('change', (e) => {
        console.log(e);
      });
      form.addEventListener('submit', async (e) => {});
    </script>
  </body>
</html>
